/* 
==============================================
CONTENT:	Main Site Styling
AUTHOR:		Dakota Ling
==============================================

TABLE OF CONTENTS:

1. Mixins, Vars, etc.
2. Base Page Styles

==============================================
*/
/* 1. Mixins, Vars, etc. ================================= */
/* 
==============================================
CONTENT:	Variables and Mixins
AUTHOR:		Dakota Ling
==============================================
*/
/* 2. Base Page Styles ================================= */
/* 
==============================================
CONTENT:	Global Page Styles
AUTHOR:		Dakota Ling
==============================================
*/
@font-face {
  font-family: 'League Spartan';
  src: url("../fonts/leaguespartan-bold.eot");
  src: url("../fonts/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold.woff2") format("woff2"), url("../fonts/leaguespartan-bold.woff") format("woff"), url("../fonts/leaguespartan-bold.ttf") format("truetype"), url("../fonts/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'League Spartan', Helvetica, Arial, sans-serif; }

ul {
  list-style-type: none;
  padding: 0;
  font-size: 0; }
  ul li {
    font-size: 1rem;
    list-style: none; }
